<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div (click)="onChangeItem()" class="container" [ngClass]="{'selected':selected}">
        <p>{{data.title}} <span>{{data.total}}</span></p>
        <div>{{data.description}}</div>
    </div>
    <br>
    <app-child-b (onData)="receivedChildB($event)"></app-child-b>
</body>

</html>