<router-outlet></router-outlet>


<!-- <app-list-cards></app-list-cards> -->
<!-- <input type="text" [(ngModel)]="imgpadre">
<app-img [img]="imgpadre"></app-img> -->



















<!-- <customParent-a></customParent-a> -->
<!-- <h1>ngClass and ngStyle</h1>
<div>
    <div>
        <input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name">
        <hr class="line-error">
        [ngClass]="{
            'valid'
        }"
    </div>
    <div></div>
</div>
     -->


<!-- <h1>clase y estilo</h1>

<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name">
<p class="campo_requerido" [class.activate]="nameInput2.invalid">
    El campo es requerido</p>

    <label for="">Nombre</label>
    <input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name">
    <p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'"> está bien</p>
    <div class="crecimiento">
        <div>
            <input type="text" [(ngModel)]="widthimg"/>
        </div>
        <div>
       
            <img [style.width.%]="widthimg" [src]="person.img">
        </div>
    </div> -->


<!-- <hr>
<div class="grupo_imagenes">
    <div *ngFor="let productos of productos">
        <img  [src]="productos.image" alt="image">
        <h2>{{productos.precio}}</h2>
        <h2>{{productos.name}}</h2>
    </div>
</div> 

<h2>ngSwitch</h2>
<input type="text" required [(ngModel)]="person.name">
<div [ngSwitch]="person.name">
    <p *ngSwitchCase="'juan'">la persona es juan</p>
    <p *ngSwitchCase="'juana'">la persona es juana</p>
    <p *ngSwitchCase="'alguien mas'">la persona es</p>
    <p *ngSwitchDefault>no hace match</p>
</div>
<hr>
<hr>hola
<h3> soy {{name}} y tengo {{age}}</h3>

<img src="{{img}}" alt="img">
<progress max="100" [value]="person.age"> </progress>
 <input type="text" [value]="person.name"> 
<input type="text" [value]="person.age">
<button (click)="toggleButton()">si</button>
<p> edad {{person.age}}</p>
<button (click)="increage()">más</button>

<hr>
<h1>ngSwitch</h1>
<input type="text">
<h1>*ngfor</h1>
<ul>
    <input type="text" required [(ngModel)]="newname">
    <button (click)="addname()">agregar nombre</button>
   
    <li *ngIf="names.length === 0"> no hay nombres</li>
    <li *ngFor="let name of names; index as i">{{i}}
        {{name}}
        <button (click)="deletename(i)"> delete</button>
    </li>
</ul>
<hr>
<div>
    <div *ngFor="let productos of productos">
        <img with="20" [src]="productos.image" alt="image">
        <h2>{{productos.precio}}</h2>
        <h2>{{productos.name}}</h2>
    </div>
</div>  

  
 -->

