
  <app-card >
    <tr *ngFor="let dato of list">
      <ng-container hola>
        <td style="border: 1px solid black; background-color:aliceblue;" >
           <p contenteditable="true">  {{dato.title}}</p>   
        </td>
      </ng-container>
      <ng-container hola2>
        <td style="border: 1px solid black; background-color: gray;">
          <p contenteditable="true">{{dato.version}} </p>
        </td>
      </ng-container>
      <ng-container hola3>
        <td style="border: 1px solid black;background-color: aliceblue;">
          <p contenteditable="true">{{dato.description}}</p>
        </td>
      </ng-container>
      <td style="border: 1px solid black;background-color: gray;"><ng-container hola4>
          <p contenteditable="true">{{dato.name}}</p>
        </ng-container></td>
      <td style="border: 1px solid black;background-color: aliceblue;"><ng-container hola5>
          <p contenteditable="true">{{dato.dato}}</p>
        </ng-container></td>
      <td style="border: 1px solid black;background-color: gray;"><ng-container hola6>
          <p contenteditable="true">{{dato.datos}}</p>
        </ng-container></td>
      <td style="border: 1px solid black;background-color: aliceblue;"><ng-container hola7>
          <p contenteditable="true">{{dato.datoss}}</p>
        </ng-container></td>
      <td style="border: 1px solid black;background-color: gray;"><ng-container hola8>
          <p contenteditable="true">{{dato.datosss}}</p>
        </ng-container></td>
      <td style="border: 1px solid black;background-color: aliceblue;"><ng-container hola9>
          <p contenteditable="true">{{dato.datossss}}</p>
        </ng-container></td>
      <td style="border: 1px solid black;background-color: gray;"><ng-container hola10>
          <p contenteditable="true">{{dato.datosssss}}</p>
        </ng-container></td>
      <td style="border: 1px solid black;background-color: aliceblue;"><ng-container hola11>
          <p contenteditable="true">{{dato.datosssss}}</p>
        </ng-container></td>
      <td style="border: 1px solid black;background-color: gray;"><ng-container hola12>
          <p contenteditable="true">{{dato.datosssss}}</p>
        </ng-container></td>
      <td style="border: 1px solid black;background-color: aliceblue;"><ng-container hola13>
          <p contenteditable="true">{{dato.datosssss}}</p>
        </ng-container></td>
  
    </tr>
  </app-card>



   <!-- <ng-container>
      <tr *ngFor="let datos of list">
        <td>
          {{datos.title}}
        </td>
        <td>
          {{datos.version}}
        </td>
        <td>
          {{datos.description}}
        </td>
        <td>
          {{datos.name}}
        </td>
        
  
      </tr>
    </ng-container> -->

    
  

<!-- <div style="border: 1px solid gray; border-radius: 5px; overflow-y: auto; width: 250px; height: 300px;">
    <div *ngFor="let item of list">
        <app-card [data]="item" > </app-card>

    </div>
</div>
<div>hola</div> -->